.container{
    width: 100%;
    padding: 20px;
}

.slider{
    width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.pages{ 
    display: flex;

    width: 270px;
    height: 20px;
}

.page{
    width: 30px;
    height: 20px;
    text-align: center;
}

.active{  
    transform: scale(1.5);
}